<a href="/" class="text-4xl">techBlog</a>
<div class="flex gap-3">
    <a href="">Dashboard</a>
    {{#if logged_in}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}

</div>