<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kBario's techBlog</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="min-h-screen flex flex-col">
    <nav class="bg-blue-600 text-slate-100 h-20 p-5 flex justify-between items-center">
        {{>nav-partial}}
    </nav> 
    <main class="grow bg-slate-100 p-5">
        <div class="max-w-4xl mx-auto h-full">
        {{{body}}}
        </div>
    </main>
</body>
{{#if logged_in}}
<script src="./js/logout.js"></script>
{{/if}}
</html>