<div class="flex flex-col gap-5 items-start">
    <h1 class="text-4xl">{{name}}'s Dashboard</h1>

    {{#if posts}}
    <div class="flex flex-col w-full">
        {{#each posts}}
            {{>post-partial}}
            <hr class="bg-slate-200 {{#if @last}} hidden {{/if}}">
        {{/each}}
    </div>
    {{else}}
        <div>You don't have any posts just yet.</div>
    {{/if}}
    <a href="/create" id="create-btn" class="btn-blue">Create a Post</a>
</div>

<script src="./js/dashboard.js"></script>