<h1 class="text-4xl">{{name}}'s Dashboard</h1>

{{#if posts}}
{{>post-partial}}
{{else}}
<div>you don't have any posts yet</div>
{{/if}}

<button id="create-btn" class="px-4 py-2 bg-blue-600 text-white rounded-full shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-all">Create a Post</button>

<script src="dashboard.js"></script>