<section class="max-w-xl mx-auto flex flex-col gap-8 p-8">
        <h1 class="text-2xl">Login</h1>
    
    <form class="space-y-8">
        <div>
            <input id="email" type="email" class="
                    bg-slate-100
                    mt-0
                    block
                    w-full
                    px-0.5
                    border-0 border-b-2 border-gray-200
                    focus:ring-0 focus:border-blue-500" placeholder="example@example.com">
        </div>
        <div>
            <input id="password" type="password" class="
                    bg-slate-100
                    mt-0
                    block
                    w-full
                    px-0.5
                    border-0 border-b-2 border-gray-200
                    focus:ring-0 focus:border-blue-500" placeholder="password">
        </div>
        <div class="flex gap-5 justify-between">
            <button id="login-btn" class="px-4 py-2 bg-blue-600 text-slate-100 rounded-sm">Login</button>
            <div class="flex gap-3 items-center">
                <p class="text-sm">Don't have an account?</p>
                <a href="/signup" id="signup-btn" class="px-4 py-2 bg-slate-300 text-black rounded-sm">Sign up</a>
            </div>
        </div>
    </form>
    <p id="warning" class="text-red-600"></p>
</section>
